/* Login Page */
 .whole-login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--accent-color);
}

.login-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: var(--gradient-background-1);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 30px 25px;
  box-shadow: 0 5px 10px var(--text-color-2);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: var(--accent-color);
  box-shadow: 15px 15px 0px var(--text-color-3) ,
              -15px -15px 0px var(--text-color-4);
  text-align: center;

  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 16px;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 0.1rem;
  top: 50%;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.login-btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--text-color-1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: var(--gradient-background-4);
  transform: scale(1.03);
  color: var(--text-color-2);
}

.login-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.login-links a {
  text-decoration: none;
  color: var(--text-color-2);
}

.login-links a:hover {
  text-decoration: underline;
}

.login-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: var(--text-color-1);
  transition: 0.5s ease;
}

.login-footer a {
  color: var(--primary-color);
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}